@using SuperheroSample.Repositories

<ul>
@foreach (var hero in SuperHeroes)
{
    <li hx-get="/api/superheroes/@hero.Id" hx-target="#heroDetails" hx-swap="innerHTML" hx-trigger="click" style="cursor:pointer">
        @hero.Name
    </li>
}
</ul>
<div id="heroDetails">
    <SuperHeroContentDetails />
</div>
@code {
    [Parameter] public List<SuperHero> SuperHeroes { get; set; } = new();
}