@page "/simple"
@rendermode InteractiveServer

@using SuperheroSample.Components.Widgets.HelloVisitor

<PageTitle>Simple example</PageTitle>

<h1>Simple "Hello [name]" Htmx + Blazor example.</h1>
<HelloVisitorContent />
