@using SuperheroSample.Components.Widgets.Shared
@inherits LayoutComponentBase

<div class="page">
    @* this all comes from https://getbootstrap.com/docs/4.0/examples/navbar-static/# *@
    <main>
        <MainNavMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

